html,
body {
        padding: 0;
}

body {
        background-color: #abb997;
        display: flex;
        align-items: center;
        height: 100vh;
        flex-direction: column;
}

h1 {
        color: red;
}

section {
        max-width: 250px;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
}

img {
        max-width: 100%;
}

.star {
        top: 60px;
        left: 108px;
        font-size: 2em;
        position: absolute;
}

.lights {
        width: 17px;
        height: 17px;
        position: absolute;
        border-radius: 50%;
}

.lights:nth-child(3) {
        top: 118px;
        left: 95px;
}

.lights:nth-child(4) {
        top: 118px;
        left: 135px;
}

.lights:nth-child(5) {
        top: 172px;
        left: 70px;
}

.lights:nth-child(6) {
        top: 180px;
        left: 165px;
}

.lights:nth-child(7) {
        top: 230px;
        left: 50px;
}

.lights:nth-child(8) {
        top: 223px;
        left: 175px;
}

.lights:nth-child(9) {
        top: 280px;
        left: 40px;

}

.lights:nth-child(10) {
        top: 280px;
        left: 190px;
}

.lights:nth-child(11) {
        top: 150px;
        left: 120px;
}

.lights:nth-child(12) {
        top: 200px;
        left: 120px;
}

.lights:nth-child(13) {
        top: 250px;
        left: 120px;
}

.lights:nth-child(14) {
        top: 290px;
        left: 120px;
}

.red {
        background: radial-gradient(circle at 65% 15%, white 1px, #FF3131 30%, darkred 60%, aqua 100%);
        filter: bleftness(.8);
}

.blue {
        background: radial-gradient(circle at 65% 15%, white 1px, aqua 30%, darkblue 60%, aqua 100%);
        filter: bleftness(.8);
}

.lights-on {
        filter: unset;
        animation: blink 0.8s infinite alternate;
}

@keyframes blink {
        0% {
                opacity: 1;
        }

        100% {
                opacity: 0.5;
        }
}





input[type="checkbox"] {
        display: none;

        ~label {
                position: relative;
                display: inline-block;
                width: 62px;
                height: 36px;
                border-radius: 40px;
                border: 4px solid #333;
                transition: transform 200ms cubic-bezier(0.41, -0.01, 0.63, 1.09);
                cursor: pointer;
                background: rgba(0, 0, 0, 0.5);
        }

        &:checked~label {
                transform: scale(1.01);
                border-color: #000;



                &::after {
                        transform: translateX(33px);
                        background-color: rgb(50, 1, 0);
                        box-shadow: -4px 0 4px rgba(0, 0, 0, 0.1);
                }
        }

}



input[type="checkbox"]+label {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1px;
        overflow: hidden;
}


input[type="checkbox"]#btnRed+label::before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #FF3131;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
}

input[type="checkbox"]#btnRed:checked+label::before {
        transform: translateX(0);
}


input[type="checkbox"]#btnBlue+label::before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: darkblue;
        margin-left: 5px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
}

input[type="checkbox"]#btnBlue:checked+label::before {
        transform: translateX(0);
}




.snowfall {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1;
}


.snowflake {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        opacity: 0.8;
        animation: fall linear infinite;
}

@keyframes fall {
        to {
                transform: translateY(100vh);
        }
}

.snowflake::before {
        content: "❄";
        position: absolute;
        font-size: 12px;
        color: #fff;
}

.snowflake:nth-child(1) {
        left: 3%;
        animation-duration: 5s;
}

.snowflake:nth-child(2) {
        left: 9%;
        animation-duration: 6s;
}

.snowflake:nth-child(3) {
        left: 6%;
        animation-duration: 7s;
}

.snowflake:nth-child(4) {
        left: 12%;
        animation-duration: 8s;
}

.snowflake:nth-child(5) {
        left: 18%;
        animation-duration: 9s;
}

.snowflake:nth-child(6) {
        left: 15%;
        animation-duration: 10s;
}

.snowflake:nth-child(7) {
        left: 24%;
        animation-duration: 5.5s;
}

.snowflake:nth-child(8) {
        left: 21%;
        animation-duration: 6.5s;
}

.snowflake:nth-child(9) {
        left: 27%;
        animation-duration: 7.5s;
}

.snowflake:nth-child(10) {
        left: 36%;
        animation-duration: 8.5s;
}

.snowflake:nth-child(11) {
        left: 30%;
        animation-duration: 9.5s;
}

.snowflake:nth-child(12) {
        left: 33%;
        animation-duration: 10.5s;
}

.snowflake:nth-child(13) {
        left: 39%;
        animation-duration: 7.7s;
}

.snowflake:nth-child(14) {
        left: 45%;
        animation-duration: 8.8s;
}

.snowflake:nth-child(15) {
        left: 42%;
        animation-duration: 9.9s;
}

.snowflake:nth-child(16) {
        left: 48%;
        animation-duration: 6.2s;
}

.snowflake:nth-child(17) {
        left: 51%;
        animation-duration: 5.8s;
}

.snowflake:nth-child(18) {
        left: 60%;
        animation-duration: 5.4s;
}

.snowflake:nth-child(19) {
        left: 54%;
        animation-duration: 5.2s;
}

.snowflake:nth-child(20) {
        left: 63%;
        animation-duration: 4.5s;
}

.snowflake:nth-child(21) {
        left: 57%;
        animation-duration: 5.9s;
}

.snowflake:nth-child(22) {
        left: 66%;
        animation-duration: 6.8s;
}

.snowflake:nth-child(23) {
        left: 69%;
        animation-duration: 7.5s;
}

.snowflake:nth-child(24) {
        left: 72%;
        animation-duration: 8.3s;
}

.snowflake:nth-child(25) {
        left: 75%;
        animation-duration: 9.1s;
}

.snowflake:nth-child(26) {
        left: 90%;
        animation-duration: 7.9s;
}

.snowflake:nth-child(27) {
        left: 78%;
        animation-duration: 6.7s;
}

.snowflake:nth-child(28) {
        left: 84%;
        animation-duration: 8.2s;
}

.snowflake:nth-child(29) {
        left: 88%;
        animation-duration: 9.8s;
}

.snowflake:nth-child(30) {
        left: 93%;
        animation-duration: 7.4s;
}

.snowflake:nth-child(31) {
        left: 96%;
        animation-duration: 4.4s;
}

.snowflake:nth-child(32) {
        left: 99%;
        animation-duration: 5.14s;
}