:root {
    --wine-red: rgba(199, 55, 95, 0.8);
    --bright-red: #E10C47;
    --snow: #F0F4F7;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: var(--snow);
    margin-bottom: 0;
    margin-top: 0px;
    text-shadow: 2px 2px 5px var(--wine-red);
}

.bg {
    background-image: url("img/background.png");
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#countdown-display {
    color: var(--bright-red);
    text-shadow: 2px 2px 5px var(--snow);
    font-weight: bolder;
    animation: upAndDown 1s infinite alternate;
    font-size: 50px;
    margin: 15px 0 25px 0;
}

@keyframes upAndDown {
    to {
        transform: translateY(10px);
    }
}