html,
body {
        margin: 0;
        padding: 0;
}

body {
        background-color: #0F0F0F;
        font-family: 'Inter', sans-serif;
}

h1 {
        font-size: 25px;
        color: #DEEAEE;
        text-align: center;
}

.container {
        max-width: 320px;
        margin: 0 auto;
}

#player {
        background-color: #DEEAEE;
}

#hideButtonContent {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 30px 0;
}

#hideVideoButton {
        background-color: rgb(56, 9, 9);
}

#hideVideoButton:hover {
        background-color: rgb(132, 7, 7);
}

button {
        font-family: 'Inter', sans-serif;
        background-color: rgb(132, 7, 7);
        color: wheat;
        border: 0;
        border-radius: 5px;
        font-size: 18px;
        padding: 10px;
}

button:hover {
        background-color: rgb(56, 9, 9);
        color: white;
        cursor: pointer;
}

.songs {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-top: 10px;
}